
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.containerMain{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.leftPart{
    width: 30vw;
    height: 100vh;
    background-color: #1db954;
}

.buttonLogin{
    background-color: #191414;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}
.rightPart{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.styled-table {
    display: none;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #1db954;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
