
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.containerMain{
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}
.leftPart{
    width: 30vw;
    height: 100vh;
    background-color: #1db954;
}

.buttonLogin{
    background-color: #191414;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}
.rightPart{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.styled-table {
    display: none;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #1db954;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
#logo{
    height: 220px;
}

@media screen 
  and (max-device-width: 767px){ 

        *{
            font-size: 36px;
        }
        #logo{  
            margin-top: 150px;
            height: 150px;
        }
        .rightPart{
            justify-content: space-between;
        }
        .containerMain{
            margin-bottom: 500px;
        }
        .styled-table{
            margin-top: 100px;
        }
        body{
            overflow-x: hidden;
        }
        table {
          margin-top: 50px;
          margin-bottom: 433px;
          border: 0;
        }
      
        table caption {
          font-size: 1.3em;
        }
      
        table thead {
          border: none;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
        }
      
        table tr {
          border-bottom: 3px solid #ddd;
          display: block;
          margin-bottom: .625em;
        }
      
        table td {
          border-bottom: 1px solid #ddd;
          display: block;
          text-align: right;
        }
      
        table td::before {
          content: attr(data-label);
          float: left;
          font-weight: bold;
        }
      
        table td:last-child {
          border-bottom: 0;
        }
      }